code/fuse/06_homework-assignment/core/outbound/src/main/resources/wsdl/nextgateService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.usecase.redhat.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="NextgateWSService" targetNamespace="http://service.usecase.redhat.com/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.index.mdm.sun.com/" targetNamespace="http://webservice.index.mdm.sun.com/" version="1.0">
<xs:import namespace="http://service.usecase.redhat.com/"/>
<xs:element name="CodeLookupException" type="tns:CodeLookupException"/>
<xs:element name="PageException" type="tns:PageException"/>
<xs:element name="ProcessingException" type="tns:ProcessingException"/>
<xs:element name="UserException" type="tns:UserException"/>
<xs:element name="activateEnterpriseRecord" type="tns:activateEnterpriseRecord"/>
<xs:element name="activateEnterpriseRecordResponse" type="tns:activateEnterpriseRecordResponse"/>
<xs:element name="activateSystemRecord" type="tns:activateSystemRecord"/>
<xs:element name="activateSystemRecordResponse" type="tns:activateSystemRecordResponse"/>
<xs:element name="addOrUpdateSystemRecord" type="tns:addOrUpdateSystemRecord"/>
<xs:element name="addOrUpdateSystemRecordResponse" type="tns:addOrUpdateSystemRecordResponse"/>
<xs:element name="addSystemRecord" type="tns:addSystemRecord"/>
<xs:element name="addSystemRecordResponse" type="tns:addSystemRecordResponse"/>
<xs:element name="assignRefObjectNode" type="tns:assignRefObjectNode"/>
<xs:element name="assignRefObjectNodeResponse" type="tns:assignRefObjectNodeResponse"/>
<xs:element name="assignRefObjectNodes" type="tns:assignRefObjectNodes"/>
<xs:element name="assignRefObjectNodesResponse" type="tns:assignRefObjectNodesResponse"/>
<xs:element name="checkForOverlay" type="tns:checkForOverlay"/>
<xs:element name="checkForOverlayResponse" type="tns:checkForOverlayResponse"/>
<xs:element name="compareRecords" type="tns:compareRecords"/>
<xs:element name="compareRecordsResponse" type="tns:compareRecordsResponse"/>
<xs:element name="deactivateEnterpriseRecord" type="tns:deactivateEnterpriseRecord"/>
<xs:element name="deactivateEnterpriseRecordResponse" type="tns:deactivateEnterpriseRecordResponse"/>
<xs:element name="deactivateSystemRecord" type="tns:deactivateSystemRecord"/>
<xs:element name="deactivateSystemRecordResponse" type="tns:deactivateSystemRecordResponse"/>
<xs:element name="executeCustomLogic" type="tns:executeCustomLogic"/>
<xs:element name="executeCustomLogicResponse" type="tns:executeCustomLogicResponse"/>
<xs:element name="executeMatch" type="tns:executeMatch"/>
<xs:element name="executeMatchResponse" type="tns:executeMatchResponse"/>
<xs:element name="executeMatchUpdate" type="tns:executeMatchUpdate"/>
<xs:element name="executeMatchUpdateResponse" type="tns:executeMatchUpdateResponse"/>
<xs:element name="getActiveEUID" type="tns:getActiveEUID"/>
<xs:element name="getActiveEUIDResponse" type="tns:getActiveEUIDResponse"/>
<xs:element name="getCodeDescription" type="tns:getCodeDescription"/>
<xs:element name="getCodeDescriptionResponse" type="tns:getCodeDescriptionResponse"/>
<xs:element name="getCodesByType" type="tns:getCodesByType"/>
<xs:element name="getCodesByTypeResponse" type="tns:getCodesByTypeResponse"/>
<xs:element name="getComparison" type="tns:getComparison"/>
<xs:element name="getComparisonResponse" type="tns:getComparisonResponse"/>
<xs:element name="getEUID" type="tns:getEUID"/>
<xs:element name="getEUIDResponse" type="tns:getEUIDResponse"/>
<xs:element name="getEUIDs" type="tns:getEUIDs"/>
<xs:element name="getEUIDsResponse" type="tns:getEUIDsResponse"/>
<xs:element name="getEnterpriseRecordByEUID" type="tns:getEnterpriseRecordByEUID"/>
<xs:element name="getEnterpriseRecordByEUIDResponse" type="tns:getEnterpriseRecordByEUIDResponse"/>
<xs:element name="getEnterpriseRecordByLID" type="tns:getEnterpriseRecordByLID"/>
<xs:element name="getEnterpriseRecordByLIDResponse" type="tns:getEnterpriseRecordByLIDResponse"/>
<xs:element name="getEnterpriseRecordStatus" type="tns:getEnterpriseRecordStatus"/>
<xs:element name="getEnterpriseRecordStatusResponse" type="tns:getEnterpriseRecordStatusResponse"/>
<xs:element name="getEnterpriseRecords" type="tns:getEnterpriseRecords"/>
<xs:element name="getEnterpriseRecordsResponse" type="tns:getEnterpriseRecordsResponse"/>
<xs:element name="getLIDs" type="tns:getLIDs"/>
<xs:element name="getLIDsByStatus" type="tns:getLIDsByStatus"/>
<xs:element name="getLIDsByStatusResponse" type="tns:getLIDsByStatusResponse"/>
<xs:element name="getLIDsResponse" type="tns:getLIDsResponse"/>
<xs:element name="getLastSysInfoLogEntry" type="tns:getLastSysInfoLogEntry"/>
<xs:element name="getLastSysInfoLogEntryResponse" type="tns:getLastSysInfoLogEntryResponse"/>
<xs:element name="getMergedEUIDs" type="tns:getMergedEUIDs"/>
<xs:element name="getMergedEUIDsResponse" type="tns:getMergedEUIDsResponse"/>
<xs:element name="getMultipleLIDs" type="tns:getMultipleLIDs"/>
<xs:element name="getMultipleLIDsResponse" type="tns:getMultipleLIDsResponse"/>
<xs:element name="getRevisionNumber" type="tns:getRevisionNumber"/>
<xs:element name="getRevisionNumberResponse" type="tns:getRevisionNumberResponse"/>
<xs:element name="getSBR" type="tns:getSBR"/>
<xs:element name="getSBRHistory" type="tns:getSBRHistory"/>
<xs:element name="getSBRHistoryResponse" type="tns:getSBRHistoryResponse"/>
<xs:element name="getSBRResponse" type="tns:getSBRResponse"/>
<xs:element name="getSBRs" type="tns:getSBRs"/>
<xs:element name="getSBRsResponse" type="tns:getSBRsResponse"/>
<xs:element name="getSystemRecord" type="tns:getSystemRecord"/>
<xs:element name="getSystemRecordHistory" type="tns:getSystemRecordHistory"/>
<xs:element name="getSystemRecordHistoryResponse" type="tns:getSystemRecordHistoryResponse"/>
<xs:element name="getSystemRecordResponse" type="tns:getSystemRecordResponse"/>
<xs:element name="getSystemRecordStatus" type="tns:getSystemRecordStatus"/>
<xs:element name="getSystemRecordStatusResponse" type="tns:getSystemRecordStatusResponse"/>
<xs:element name="getSystemRecordsByEUID" type="tns:getSystemRecordsByEUID"/>
<xs:element name="getSystemRecordsByEUIDResponse" type="tns:getSystemRecordsByEUIDResponse"/>
<xs:element name="getSystemRecordsByEUIDStatus" type="tns:getSystemRecordsByEUIDStatus"/>
<xs:element name="getSystemRecordsByEUIDStatusResponse" type="tns:getSystemRecordsByEUIDStatusResponse"/>
<xs:element name="lookupApplicationConfig" type="tns:lookupApplicationConfig"/>
<xs:element name="lookupApplicationConfigResponse" type="tns:lookupApplicationConfigResponse"/>
<xs:element name="lookupLIDBySUID" type="tns:lookupLIDBySUID"/>
<xs:element name="lookupLIDBySUIDResponse" type="tns:lookupLIDBySUIDResponse"/>
<xs:element name="lookupLIDs" type="tns:lookupLIDs"/>
<xs:element name="lookupLIDsResponse" type="tns:lookupLIDsResponse"/>
<xs:element name="lookupObjectDefinition" type="tns:lookupObjectDefinition"/>
<xs:element name="lookupObjectDefinitionResponse" type="tns:lookupObjectDefinitionResponse"/>
<xs:element name="lookupPotentialDuplicates" type="tns:lookupPotentialDuplicates"/>
<xs:element name="lookupPotentialDuplicatesResponse" type="tns:lookupPotentialDuplicatesResponse"/>
<xs:element name="lookupResource" type="tns:lookupResource"/>
<xs:element name="lookupResourceResponse" type="tns:lookupResourceResponse"/>
<xs:element name="lookupSystemDefinition" type="tns:lookupSystemDefinition"/>
<xs:element name="lookupSystemDefinitionResponse" type="tns:lookupSystemDefinitionResponse"/>
<xs:element name="lookupSystemDefinitions" type="tns:lookupSystemDefinitions"/>
<xs:element name="lookupSystemDefinitionsResponse" type="tns:lookupSystemDefinitionsResponse"/>
<xs:element name="lookupSystemRecordUIDs" type="tns:lookupSystemRecordUIDs"/>
<xs:element name="lookupSystemRecordUIDsResponse" type="tns:lookupSystemRecordUIDsResponse"/>
<xs:element name="lookupSystemUIDDefinitions" type="tns:lookupSystemUIDDefinitions"/>
<xs:element name="lookupSystemUIDDefinitionsResponse" type="tns:lookupSystemUIDDefinitionsResponse"/>
<xs:element name="mergeEnterpriseRecord" type="tns:mergeEnterpriseRecord"/>
<xs:element name="mergeEnterpriseRecordResponse" type="tns:mergeEnterpriseRecordResponse"/>
<xs:element name="mergeEnterpriseRecordWithImage" type="tns:mergeEnterpriseRecordWithImage"/>
<xs:element name="mergeEnterpriseRecordWithImageResponse" type="tns:mergeEnterpriseRecordWithImageResponse"/>
<xs:element name="mergeEnterpriseRecordWithOverwrites" type="tns:mergeEnterpriseRecordWithOverwrites"/>
<xs:element name="mergeEnterpriseRecordWithOverwritesResponse" type="tns:mergeEnterpriseRecordWithOverwritesResponse"/>
<xs:element name="mergeMultipleEnterpriseRecords" type="tns:mergeMultipleEnterpriseRecords"/>
<xs:element name="mergeMultipleEnterpriseRecordsResponse" type="tns:mergeMultipleEnterpriseRecordsResponse"/>
<xs:element name="mergeSystemRecord" type="tns:mergeSystemRecord"/>
<xs:element name="mergeSystemRecordResponse" type="tns:mergeSystemRecordResponse"/>
<xs:element name="mergeSystemRecordWithImage" type="tns:mergeSystemRecordWithImage"/>
<xs:element name="mergeSystemRecordWithImageResponse" type="tns:mergeSystemRecordWithImageResponse"/>
<xs:element name="recalculateMatch" type="tns:recalculateMatch"/>
<xs:element name="recalculateMatchResponse" type="tns:recalculateMatchResponse"/>
<xs:element name="resolvePotentialDuplicate" type="tns:resolvePotentialDuplicate"/>
<xs:element name="resolvePotentialDuplicateResponse" type="tns:resolvePotentialDuplicateResponse"/>
<xs:element name="search" type="tns:search"/>
<xs:element name="searchResponse" type="tns:searchResponse"/>
<xs:element name="splitSystemRecord" type="tns:splitSystemRecord"/>
<xs:element name="splitSystemRecordResponse" type="tns:splitSystemRecordResponse"/>
<xs:element name="transferSystemRecord" type="tns:transferSystemRecord"/>
<xs:element name="transferSystemRecordResponse" type="tns:transferSystemRecordResponse"/>
<xs:element name="transferSystemRecordUID" type="tns:transferSystemRecordUID"/>
<xs:element name="transferSystemRecordUIDResponse" type="tns:transferSystemRecordUIDResponse"/>
<xs:element name="undoAssumedMatch" type="tns:undoAssumedMatch"/>
<xs:element name="undoAssumedMatchResponse" type="tns:undoAssumedMatchResponse"/>
<xs:element name="undoSystemObjectUpdate" type="tns:undoSystemObjectUpdate"/>
<xs:element name="undoSystemObjectUpdateResponse" type="tns:undoSystemObjectUpdateResponse"/>
<xs:element name="unmergeEnterpriseRecord" type="tns:unmergeEnterpriseRecord"/>
<xs:element name="unmergeEnterpriseRecordResponse" type="tns:unmergeEnterpriseRecordResponse"/>
<xs:element name="unmergeSystemRecord" type="tns:unmergeSystemRecord"/>
<xs:element name="unmergeSystemRecordResponse" type="tns:unmergeSystemRecordResponse"/>
<xs:element name="unresolvePotentialDuplicate" type="tns:unresolvePotentialDuplicate"/>
<xs:element name="unresolvePotentialDuplicateResponse" type="tns:unresolvePotentialDuplicateResponse"/>
<xs:element name="updateEnterpriseRecord" type="tns:updateEnterpriseRecord"/>
<xs:element name="updateEnterpriseRecordResponse" type="tns:updateEnterpriseRecordResponse"/>
<xs:element name="updateSystemRecord" type="tns:updateSystemRecord"/>
<xs:element name="updateSystemRecordResponse" type="tns:updateSystemRecordResponse"/>
<xs:complexType name="executeMatchUpdate">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="sysObjBean" type="tns:systemPerson"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="callerInfo">
<xs:sequence>
<xs:element minOccurs="0" name="application" type="xs:string"/>
<xs:element minOccurs="0" name="applicationFunction" type="xs:string"/>
<xs:element minOccurs="0" name="authPassword" type="xs:string"/>
<xs:element minOccurs="0" name="authUser" type="xs:string"/>
<xs:element minOccurs="0" name="executionCycleId" type="xs:string"/>
<xs:element minOccurs="0" name="system" type="xs:string"/>
<xs:element minOccurs="0" name="user" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="systemPerson">
<xs:sequence>
<xs:element minOccurs="0" name="createDateTime" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createFunction" type="xs:string"/>
<xs:element minOccurs="0" name="createUser" type="xs:string"/>
<xs:element minOccurs="0" name="localId" type="xs:string"/>
<xs:element minOccurs="0" name="person" type="tns:personBean"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="systemCodeDescription" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="uniqueId" nillable="true" type="tns:systemObjectUIDBean"/>
<xs:element minOccurs="0" name="updateDateTime" type="xs:dateTime"/>
<xs:element minOccurs="0" name="updateFunction" type="xs:string"/>
<xs:element minOccurs="0" name="updateUser" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="personBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="address" nillable="true" type="tns:addressBean"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="addressHistory" nillable="true" type="tns:addressHistoryBean"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="alias" nillable="true" type="tns:aliasBean"/>
<xs:element minOccurs="0" name="authFlag" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="auxId" nillable="true" type="tns:auxIdBean"/>
<xs:element minOccurs="0" name="birthOrder" type="xs:string"/>
<xs:element minOccurs="0" name="citizenship" type="xs:string"/>
<xs:element minOccurs="0" name="class1" type="xs:string"/>
<xs:element minOccurs="0" name="class2" type="xs:string"/>
<xs:element minOccurs="0" name="class3" type="xs:string"/>
<xs:element minOccurs="0" name="class4" type="xs:string"/>
<xs:element minOccurs="0" name="class5" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="comment" nillable="true" type="tns:commentBean"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="contact" nillable="true" type="tns:contactBean"/>
<xs:element minOccurs="0" name="DOB" type="xs:string"/>
<xs:element minOccurs="0" name="date1" type="xs:string"/>
<xs:element minOccurs="0" name="date2" type="xs:string"/>
<xs:element minOccurs="0" name="date3" type="xs:string"/>
<xs:element minOccurs="0" name="date4" type="xs:string"/>
<xs:element minOccurs="0" name="date5" type="xs:string"/>
<xs:element minOccurs="0" name="death" type="xs:string"/>
<xs:element minOccurs="0" name="deathCertificate" type="xs:string"/>
<xs:element minOccurs="0" name="degree" type="xs:string"/>
<xs:element minOccurs="0" name="districtOfResidence" type="xs:string"/>
<xs:element minOccurs="0" name="dod" type="xs:string"/>
<xs:element minOccurs="0" name="driversLicense" type="xs:string"/>
<xs:element minOccurs="0" name="driversLicenseExp" type="xs:string"/>
<xs:element minOccurs="0" name="driversLicenseSt" type="xs:string"/>
<xs:element minOccurs="0" name="dummyDate" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="email" nillable="true" type="tns:emailBean"/>
<xs:element minOccurs="0" name="ethnic" type="xs:string"/>
<xs:element minOccurs="0" name="fatherName" type="xs:string"/>
<xs:element minOccurs="0" name="fatherPhoneticCode" type="xs:string"/>
<xs:element minOccurs="0" name="firstName" type="xs:string"/>
<xs:element minOccurs="0" name="fnamePhoneticCode" type="xs:string"/>
<xs:element minOccurs="0" name="gender" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="images" nillable="true" type="tns:imagesBean"/>
<xs:element minOccurs="0" name="language" type="xs:string"/>
<xs:element minOccurs="0" name="lastName" type="xs:string"/>
<xs:element minOccurs="0" name="lastServiceDate" type="xs:string"/>
<xs:element minOccurs="0" name="lgaCode" type="xs:string"/>
<xs:element minOccurs="0" name="lnamePhoneticCode" type="xs:string"/>
<xs:element minOccurs="0" name="MStatus" type="xs:string"/>
<xs:element minOccurs="0" name="maiden" type="xs:string"/>
<xs:element minOccurs="0" name="maidenPhoneticCode" type="xs:string"/>
<xs:element minOccurs="0" name="middleName" type="xs:string"/>
<xs:element minOccurs="0" name="militaryBranch" type="xs:string"/>
<xs:element minOccurs="0" name="militaryRank" type="xs:string"/>
<xs:element minOccurs="0" name="militaryStatus" type="xs:string"/>
<xs:element minOccurs="0" name="mnamePhoneticCode" type="xs:string"/>
<xs:element minOccurs="0" name="motherMN" type="xs:string"/>
<xs:element minOccurs="0" name="motherMNPhoneticCode" type="xs:string"/>
<xs:element minOccurs="0" name="motherName" type="xs:string"/>
<xs:element minOccurs="0" name="motherPhoneticCode" type="xs:string"/>
<xs:element minOccurs="0" name="multipleBirth" type="xs:string"/>
<xs:element minOccurs="0" name="nationality" type="xs:string"/>
<xs:element minOccurs="0" name="pensionExpDate" type="xs:string"/>
<xs:element minOccurs="0" name="pensionNo" type="xs:string"/>
<xs:element minOccurs="0" name="personCatCode" type="xs:string"/>
<xs:element minOccurs="0" name="personId" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="phone" nillable="true" type="tns:phoneBean"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="phoneHistory" nillable="true" type="tns:phoneHistoryBean"/>
<xs:element minOccurs="0" name="picture" type="xs:string"/>
<xs:element minOccurs="0" name="pobCity" type="xs:string"/>
<xs:element minOccurs="0" name="pobCountry" type="xs:string"/>
<xs:element minOccurs="0" name="pobState" type="xs:string"/>
<xs:element minOccurs="0" name="prefix" type="xs:string"/>
<xs:element minOccurs="0" name="race" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="races" nillable="true" type="tns:racesBean"/>
<xs:element minOccurs="0" name="religion" type="xs:string"/>
<xs:element minOccurs="0" name="repatriationNo" type="xs:string"/>
<xs:element minOccurs="0" name="SSN" type="xs:string"/>
<xs:element minOccurs="0" name="SSN4" type="xs:string"/>
<xs:element minOccurs="0" name="spouseName" type="xs:string"/>
<xs:element minOccurs="0" name="spousePhoneticCode" type="xs:string"/>
<xs:element minOccurs="0" name="stdFirstName" type="xs:string"/>
<xs:element minOccurs="0" name="stdLastName" type="xs:string"/>
<xs:element minOccurs="0" name="stdMiddleName" type="xs:string"/>
<xs:element minOccurs="0" name="string1" type="xs:string"/>
<xs:element minOccurs="0" name="string10" type="xs:string"/>
<xs:element minOccurs="0" name="string2" type="xs:string"/>
<xs:element minOccurs="0" name="string3" type="xs:string"/>
<xs:element minOccurs="0" name="string4" type="xs:string"/>
<xs:element minOccurs="0" name="string5" type="xs:string"/>
<xs:element minOccurs="0" name="string6" type="xs:string"/>
<xs:element minOccurs="0" name="string7" type="xs:string"/>
<xs:element minOccurs="0" name="string8" type="xs:string"/>
<xs:element minOccurs="0" name="string9" type="xs:string"/>
<xs:element minOccurs="0" name="suffix" type="xs:string"/>
<xs:element minOccurs="0" name="title" type="xs:string"/>
<xs:element minOccurs="0" name="VIPFlag" type="xs:string"/>
<xs:element minOccurs="0" name="vetStatus" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addressBean">
<xs:sequence>
<xs:element minOccurs="0" name="addressId" type="xs:string"/>
<xs:element minOccurs="0" name="addressLine1" type="xs:string"/>
<xs:element minOccurs="0" name="addressLine2" type="xs:string"/>
<xs:element minOccurs="0" name="addressLine3" type="xs:string"/>
<xs:element minOccurs="0" name="addressLine4" type="xs:string"/>
<xs:element minOccurs="0" name="addressType" type="xs:string"/>
<xs:element minOccurs="0" name="city" type="xs:string"/>
<xs:element minOccurs="0" name="countryCode" type="xs:string"/>
<xs:element minOccurs="0" name="county" type="xs:string"/>
<xs:element minOccurs="0" name="houseNumber" type="xs:string"/>
<xs:element minOccurs="0" name="latitude" type="xs:string"/>
<xs:element minOccurs="0" name="longitude" type="xs:string"/>
<xs:element minOccurs="0" name="postalCode" type="xs:string"/>
<xs:element minOccurs="0" name="postalCodeExt" type="xs:string"/>
<xs:element minOccurs="0" name="stateCode" type="xs:string"/>
<xs:element minOccurs="0" name="streetDir" type="xs:string"/>
<xs:element minOccurs="0" name="streetName" type="xs:string"/>
<xs:element minOccurs="0" name="streetNamePhoneticCode" type="xs:string"/>
<xs:element minOccurs="0" name="streetType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addressHistoryBean">
<xs:sequence>
<xs:element minOccurs="0" name="addressHistoryId" type="xs:string"/>
<xs:element minOccurs="0" name="addressIndex" type="xs:string"/>
<xs:element minOccurs="0" name="addressLine1" type="xs:string"/>
<xs:element minOccurs="0" name="addressLine2" type="xs:string"/>
<xs:element minOccurs="0" name="addressLine3" type="xs:string"/>
<xs:element minOccurs="0" name="addressLine4" type="xs:string"/>
<xs:element minOccurs="0" name="addressType" type="xs:string"/>
<xs:element minOccurs="0" name="city" type="xs:string"/>
<xs:element minOccurs="0" name="countryCode" type="xs:string"/>
<xs:element minOccurs="0" name="county" type="xs:string"/>
<xs:element minOccurs="0" name="houseNumber" type="xs:string"/>
<xs:element minOccurs="0" name="latitude" type="xs:string"/>
<xs:element minOccurs="0" name="longitude" type="xs:string"/>
<xs:element minOccurs="0" name="postalCode" type="xs:string"/>
<xs:element minOccurs="0" name="postalCodeExt" type="xs:string"/>
<xs:element minOccurs="0" name="stateCode" type="xs:string"/>
<xs:element minOccurs="0" name="streetDir" type="xs:string"/>
<xs:element minOccurs="0" name="streetName" type="xs:string"/>
<xs:element minOccurs="0" name="streetNamePhoneticCode" type="xs:string"/>
<xs:element minOccurs="0" name="streetType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="aliasBean">
<xs:sequence>
<xs:element minOccurs="0" name="aliasId" type="xs:string"/>
<xs:element minOccurs="0" name="aliasType" type="xs:string"/>
<xs:element minOccurs="0" name="firstName" type="xs:string"/>
<xs:element minOccurs="0" name="fnamePhoneticCode" type="xs:string"/>
<xs:element minOccurs="0" name="lastName" type="xs:string"/>
<xs:element minOccurs="0" name="lnamePhoneticCode" type="xs:string"/>
<xs:element minOccurs="0" name="middleName" type="xs:string"/>
<xs:element minOccurs="0" name="mnamePhoneticCode" type="xs:string"/>
<xs:element minOccurs="0" name="stdFirstName" type="xs:string"/>
<xs:element minOccurs="0" name="stdLastName" type="xs:string"/>
<xs:element minOccurs="0" name="stdMiddleName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="auxIdBean">
<xs:sequence>
<xs:element minOccurs="0" name="assigningAuthorityNamespace" type="xs:string"/>
<xs:element minOccurs="0" name="assigningAuthorityUID" type="xs:string"/>
<xs:element minOccurs="0" name="assigningAuthorityUIDType" type="xs:string"/>
<xs:element minOccurs="0" name="auxIdDef" type="xs:string"/>
<xs:element minOccurs="0" name="auxIdId" type="xs:string"/>
<xs:element minOccurs="0" name="id" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="commentBean">
<xs:sequence>
<xs:element minOccurs="0" name="commentCode" type="xs:string"/>
<xs:element minOccurs="0" name="commentId" type="xs:string"/>
<xs:element minOccurs="0" name="commentText" type="xs:string"/>
<xs:element minOccurs="0" name="enterDate" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="contactBean">
<xs:sequence>
<xs:element minOccurs="0" name="contactFirstName" type="xs:string"/>
<xs:element minOccurs="0" name="contactHomePhone" type="xs:string"/>
<xs:element minOccurs="0" name="contactId" type="xs:string"/>
<xs:element minOccurs="0" name="contactLastName" type="xs:string"/>
<xs:element minOccurs="0" name="contactMiddleName" type="xs:string"/>
<xs:element minOccurs="0" name="contactName" type="xs:string"/>
<xs:element minOccurs="0" name="contactNameDegree" type="xs:string"/>
<xs:element minOccurs="0" name="contactNamePrefix" type="xs:string"/>
<xs:element minOccurs="0" name="contactNameSuffix" type="xs:string"/>
<xs:element minOccurs="0" name="contactRel" type="xs:string"/>
<xs:element minOccurs="0" name="contactRole" type="xs:string"/>
<xs:element minOccurs="0" name="contactWorkPhone" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="emailBean">
<xs:sequence>
<xs:element minOccurs="0" name="emailAddress" type="xs:string"/>
<xs:element minOccurs="0" name="emailId" type="xs:string"/>
<xs:element minOccurs="0" name="emailType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="imagesBean">
<xs:sequence>
<xs:element minOccurs="0" name="image" type="xs:string"/>
<xs:element minOccurs="0" name="imageAddDate" type="xs:string"/>
<xs:element minOccurs="0" name="imageDescription" type="xs:string"/>
<xs:element minOccurs="0" name="imageName" type="xs:string"/>
<xs:element minOccurs="0" name="imageType" type="xs:string"/>
<xs:element minOccurs="0" name="imageUpdateDate" type="xs:string"/>
<xs:element minOccurs="0" name="imagesId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="phoneBean">
<xs:sequence>
<xs:element minOccurs="0" name="phone" type="xs:string"/>
<xs:element minOccurs="0" name="phoneExt" type="xs:string"/>
<xs:element minOccurs="0" name="phoneId" type="xs:string"/>
<xs:element minOccurs="0" name="phoneType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="phoneHistoryBean">
<xs:sequence>
<xs:element minOccurs="0" name="phone" type="xs:string"/>
<xs:element minOccurs="0" name="phoneExt" type="xs:string"/>
<xs:element minOccurs="0" name="phoneHistoryId" type="xs:string"/>
<xs:element minOccurs="0" name="phoneIndex" type="xs:string"/>
<xs:element minOccurs="0" name="phoneType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="racesBean">
<xs:sequence>
<xs:element minOccurs="0" name="code" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="racesId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="systemObjectUIDBean">
<xs:sequence>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element minOccurs="0" name="type" type="xs:string"/>
<xs:element minOccurs="0" name="UID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="systemPersonHistoryImage">
<xs:complexContent>
<xs:extension base="tns:systemPerson">
<xs:sequence>
<xs:element minOccurs="0" name="EUID" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="objectNode">
<xs:sequence>
<xs:element name="indexMap">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="key" type="xs:anyType"/>
<xs:element minOccurs="0" name="value" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="parent" type="tns:objectNode"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="personObject">
<xs:complexContent>
<xs:extension base="tns:objectNode">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="assignRefObjectNodesResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="checkForOverlay">
<xs:sequence>
<xs:element minOccurs="0" name="beforeObj" type="tns:personBean"/>
<xs:element minOccurs="0" name="afterObj" type="tns:personBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="checkForOverlayResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:overlayDetectorResult"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="overlayDetectorResult">
<xs:sequence>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="LID" type="xs:string"/>
<xs:element name="overlay" type="xs:boolean"/>
<xs:element name="rejectTransaction" type="xs:boolean"/>
<xs:element name="splitRecord" type="xs:boolean"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="compareRecords">
<xs:sequence>
<xs:element minOccurs="0" name="record1" type="tns:personBean"/>
<xs:element minOccurs="0" name="record2" type="tns:personBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="compareRecordsResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:matchWeight"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="matchWeight">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="falsePositiveMessages" nillable="true" type="tns:falsePositiveMessage"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="matchWeightDetails" nillable="true" type="tns:matchWeightDetail"/>
<xs:element name="weight" type="xs:float"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="falsePositiveMessage">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="matchWeightDetail">
<xs:sequence>
<xs:element minOccurs="0" name="matchFunctionDescription" type="xs:string"/>
<xs:element name="matchFunctionId" type="xs:long"/>
<xs:element minOccurs="0" name="matchFunctionName" type="xs:string"/>
<xs:element minOccurs="0" name="value1" type="xs:string"/>
<xs:element minOccurs="0" name="value2" type="xs:string"/>
<xs:element name="weight" type="xs:float"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deactivateEnterpriseRecord">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="euid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deactivateEnterpriseRecordResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="deactivateSystemRecord">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="localid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deactivateSystemRecordResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="executeCustomLogic">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="script" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="tns:customLogicParameter"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="customLogicParameter">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="executeCustomLogicResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:customLogicResponse"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="customLogicResponse">
<xs:sequence>
<xs:element name="responseCode" type="xs:int"/>
<xs:element minOccurs="0" name="responseText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="executeMatch">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="sysObjBean" type="tns:systemPerson"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="executeMatchResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:matchColResult"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="matchColResult">
<xs:sequence>
<xs:element minOccurs="0" name="EUID" type="xs:string"/>
<xs:element name="matchFieldChanged" type="xs:boolean"/>
<xs:element name="overlayDetected" type="xs:boolean"/>
<xs:element minOccurs="0" name="potentialDuplicates" type="tns:potentialDuplicateRecordArray"/>
<xs:element name="resultCode" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="potentialDuplicateRecordArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="potentialDuplicate" nillable="true" type="tns:potentialDuplicateRecord"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="potentialDuplicateRecord">
<xs:sequence>
<xs:element minOccurs="0" name="EUID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="executeMatchUpdateResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:matchColResult"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getActiveEUID">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="euid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getActiveEUIDResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCodeDescription">
<xs:sequence>
<xs:element minOccurs="0" name="type" type="xs:string"/>
<xs:element minOccurs="0" name="code" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCodeDescriptionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCodesByType">
<xs:sequence>
<xs:element minOccurs="0" name="type" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCodesByTypeResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:codeDescription"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="codeDescription">
<xs:sequence>
<xs:element minOccurs="0" name="code" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="module" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getComparison">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element name="comparisonId" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getComparisonResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:matchWeight"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEUIDResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEUIDs">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="localid" type="xs:string"/>
<xs:element name="maxRecs" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEUIDsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEnterpriseRecordByEUID">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="euid" type="xs:string"/>
<xs:element name="allowMergedEuid" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEnterpriseRecordByEUIDResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:enterprisePerson"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="enterprisePerson">
<xs:sequence>
<xs:element minOccurs="0" name="EUID" type="xs:string"/>
<xs:element minOccurs="0" name="SBRPerson" type="tns:sbrPerson"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="systemPerson" nillable="true" type="tns:systemPerson"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="sbrPerson">
<xs:sequence>
<xs:element minOccurs="0" name="createDateTime" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createFunction" type="xs:string"/>
<xs:element minOccurs="0" name="createSystem" type="xs:string"/>
<xs:element minOccurs="0" name="createUser" type="xs:string"/>
<xs:element minOccurs="0" name="person" type="tns:personBean"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element minOccurs="0" name="updateDateTime" type="xs:dateTime"/>
<xs:element minOccurs="0" name="updateFunction" type="xs:string"/>
<xs:element minOccurs="0" name="updateSystem" type="xs:string"/>
<xs:element minOccurs="0" name="updateUser" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEnterpriseRecordByLID">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="localid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEnterpriseRecordByLIDResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:enterprisePerson"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEnterpriseRecordStatus">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="euid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getLIDs">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="euid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="systemUIDDefinition">
<xs:sequence>
<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element name="properties">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="key" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="type" type="xs:string"/>
<xs:element minOccurs="0" name="updateDate" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="systemDefinition">
<xs:sequence>
<xs:element minOccurs="0" name="allowSameSystemMatch" type="xs:boolean"/>
<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="duplicateThreshold" type="xs:float"/>
<xs:element minOccurs="0" name="format" type="xs:string"/>
<xs:element name="idLength" type="xs:int"/>
<xs:element minOccurs="0" name="inputMask" type="xs:string"/>
<xs:element minOccurs="0" name="matchThreshold" type="xs:float"/>
<xs:element name="properties">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="key" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="requireOneExactMatch" type="xs:boolean"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="updateDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="valueMask" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CodeLookupException">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PageException">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProcessingException">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="UserException">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEUID">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="localid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="activateEnterpriseRecord">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="euid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="activateEnterpriseRecordResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="activateSystemRecord">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="localid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="activateSystemRecordResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="addOrUpdateSystemRecord">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="euid" type="xs:string"/>
<xs:element minOccurs="0" name="sysObjBean" type="tns:systemPerson"/>
<xs:element name="checkDups" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addOrUpdateSystemRecordResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="addSystemRecord">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="euid" type="xs:string"/>
<xs:element minOccurs="0" name="sysObjBean" type="tns:systemPerson"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addSystemRecordResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="assignRefObjectNode">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="localid" type="xs:string"/>
<xs:element minOccurs="0" name="objectType" type="xs:string"/>
<xs:element minOccurs="0" name="sysObjBean" type="tns:systemPerson"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="assignRefObjectNodeResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="assignRefObjectNodes">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="localid" type="xs:string"/>
<xs:element minOccurs="0" name="objectType" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="referIds" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEnterpriseRecordStatusResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEnterpriseRecords">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="euids" nillable="true" type="xs:string"/>
<xs:element name="allowMergedEuid" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEnterpriseRecordsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:enterprisePerson"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getLIDsByStatus">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="euid" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getLIDsByStatusResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:systemPersonPK"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="systemPersonPK">
<xs:sequence>
<xs:element minOccurs="0" name="localId" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getLIDsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:systemPersonPK"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getLastSysInfoLogEntry">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getLastSysInfoLogEntryResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getMergedEUIDs">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="euid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getMergedEUIDsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getMultipleLIDs">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="euids" nillable="true" type="xs:string"/>
<xs:element name="returnEuidsAsLids" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getMultipleLIDsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:systemPersonPKArray"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="systemPersonPKArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:systemPersonPK"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRevisionNumber">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="euid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRevisionNumberResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSBR">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="euid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSBRHistory">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="euid" type="xs:string"/>
<xs:element minOccurs="0" name="transnum" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSBRHistoryResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:sbrPersonHistory"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="sbrPersonHistory">
<xs:sequence>
<xs:element minOccurs="0" name="after" type="tns:sbrPerson"/>
<xs:element minOccurs="0" name="before" type="tns:sbrPerson"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSBRResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:sbrPerson"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSBRs">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="euids" nillable="true" type="xs:string"/>
<xs:element name="allowMergedEuid" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSBRsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:enterprisePerson"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSystemRecord">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="localid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSystemRecordHistory">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="localid" type="xs:string"/>
<xs:element minOccurs="0" name="transnum" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSystemRecordHistoryResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:systemPersonHistory"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="systemPersonHistory">
<xs:sequence>
<xs:element minOccurs="0" name="after" type="tns:systemPersonHistoryImage"/>
<xs:element minOccurs="0" name="before" type="tns:systemPersonHistoryImage"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSystemRecordResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:systemPerson"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSystemRecordStatus">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="localid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSystemRecordStatusResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSystemRecordsByEUID">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="euid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSystemRecordsByEUIDResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:systemPerson"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSystemRecordsByEUIDStatus">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="euid" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSystemRecordsByEUIDStatusResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:systemPerson"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="lookupApplicationConfig">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="lookupApplicationConfigResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:applicationConfigEntry"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="applicationConfigEntry">
<xs:sequence/>
<xs:attribute name="propertyName" type="xs:string"/>
<xs:attribute name="propertyValue" type="xs:string"/>
</xs:complexType>
<xs:complexType name="lookupLIDBySUID">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="UIDType" type="xs:string"/>
<xs:element minOccurs="0" name="UID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="lookupLIDBySUIDResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:systemPersonPK"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="lookupLIDs">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="sourceSystemCode" type="xs:string"/>
<xs:element minOccurs="0" name="sourceLID" type="xs:string"/>
<xs:element minOccurs="0" name="destSystemCode" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="lookupLIDsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:systemPersonPK"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="lookupObjectDefinition">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="lookupObjectDefinitionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:objectDefinition"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="objectDefinition">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="nodes" nillable="true" type="tns:nodeDef"/>
<xs:element minOccurs="0" name="objectName" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="relationships" nillable="true" type="tns:relationDef"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="nodeDef">
<xs:sequence>
<xs:element minOccurs="0" name="endPoint" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="fields" nillable="true" type="tns:fieldDef"/>
<xs:element name="isRefNode" type="xs:boolean"/>
<xs:element minOccurs="0" name="nameSpace" type="xs:string"/>
<xs:element minOccurs="0" name="operation" type="xs:string"/>
<xs:element minOccurs="0" name="tag" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="fieldDef">
<xs:sequence>
<xs:element name="autoid" type="xs:boolean"/>
<xs:element minOccurs="0" name="codeModule" type="xs:string"/>
<xs:element minOccurs="0" name="displayName" type="xs:string"/>
<xs:element minOccurs="0" name="fieldName" type="xs:string"/>
<xs:element name="fieldSize" type="xs:int"/>
<xs:element minOccurs="0" name="fieldType" type="xs:string"/>
<xs:element name="keyType" type="xs:boolean"/>
<xs:element minOccurs="0" name="maximumValue" type="xs:string"/>
<xs:element minOccurs="0" name="minimumValue" type="xs:string"/>
<xs:element minOccurs="0" name="pattern" type="xs:string"/>
<xs:element name="refKey" type="xs:boolean"/>
<xs:element minOccurs="0" name="refMapping" type="xs:string"/>
<xs:element name="required" type="xs:boolean"/>
<xs:element name="updateable" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="relationDef">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="children" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="lookupPotentialDuplicates">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="PotentialDuplicateSearchObjectBean" type="tns:potentialDuplicateSearchObjectBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="potentialDuplicateSearchObjectBean">
<xs:sequence>
<xs:element minOccurs="0" name="createEndDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createStartDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createUser" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="EUIDs" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="localId" type="xs:string"/>
<xs:element name="maxElements" type="xs:int"/>
<xs:element minOccurs="0" name="resolvedEndDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="resolvedStartDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="resolvedUser" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="lookupPotentialDuplicatesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:potentialDuplicateResult"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="potentialDuplicateResult">
<xs:sequence>
<xs:element name="comparisonId" type="xs:long"/>
<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createUser" type="xs:string"/>
<xs:element minOccurs="0" name="EUID1" type="xs:string"/>
<xs:element minOccurs="0" name="EUID2" type="xs:string"/>
<xs:element minOccurs="0" name="id" type="xs:string"/>
<xs:element minOccurs="0" name="resolvedComment" type="xs:string"/>
<xs:element minOccurs="0" name="resolvedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="resolvedUser" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element name="weight" type="xs:float"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="lookupResource">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="resourceName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="lookupResourceResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:base64Binary"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="lookupSystemDefinition">
<xs:sequence>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="lookupSystemDefinitionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:systemDefinition"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="lookupSystemDefinitions">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="lookupSystemDefinitionsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:systemDefinition"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="lookupSystemRecordUIDs">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="lid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="lookupSystemRecordUIDsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:systemObjectUIDBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="lookupSystemUIDDefinitions">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="lookupSystemUIDDefinitionsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:systemUIDDefinition"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="mergeEnterpriseRecord">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="fromEUID" type="xs:string"/>
<xs:element minOccurs="0" name="toEUID" type="xs:string"/>
<xs:element name="calculateOnly" type="xs:boolean"/>
<xs:element name="setSourceSystemStatusToMerged" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="mergeEnterpriseRecordResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:mergePersonResult"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="mergePersonResult">
<xs:sequence>
<xs:element minOccurs="0" name="destinationEO" type="tns:destinationEO"/>
<xs:element minOccurs="0" name="sourceEO" type="tns:sourceEO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="destinationEO">
<xs:sequence>
<xs:element minOccurs="0" name="enterprisePerson" type="tns:enterprisePerson"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="sourceEO">
<xs:sequence>
<xs:element minOccurs="0" name="enterprisePerson" type="tns:enterprisePerson"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="mergeEnterpriseRecordWithImage">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="fromEUID" type="xs:string"/>
<xs:element minOccurs="0" name="destinationEO" type="tns:enterprisePerson"/>
<xs:element name="calculateOnly" type="xs:boolean"/>
<xs:element name="setSourceSystemStatusToMerged" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="mergeEnterpriseRecordWithImageResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:mergePersonResult"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="mergeEnterpriseRecordWithOverwrites">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="fromEUID" type="xs:string"/>
<xs:element minOccurs="0" name="toEUID" type="xs:string"/>
<xs:element name="calculateOnly" type="xs:boolean"/>
<xs:element name="setSourceSystemStatusToMerged" type="xs:boolean"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="overwrite" nillable="true" type="tns:sbrOverWriteBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="sbrOverWriteBean">
<xs:sequence>
<xs:element minOccurs="0" name="data" type="xs:string"/>
<xs:element minOccurs="0" name="path" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="mergeEnterpriseRecordWithOverwritesResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:mergePersonResult"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="mergeMultipleEnterpriseRecords">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="sourceEUIDs" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="destinationEO" type="tns:enterprisePerson"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="srcRevisionNumbers" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="destRevisionNumber" type="xs:string"/>
<xs:element name="calculateOnly" type="xs:boolean"/>
<xs:element name="setSourceSystemStatusToMerged" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="mergeMultipleEnterpriseRecordsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:mergePersonResult"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="mergeSystemRecord">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="sourceLID" type="xs:string"/>
<xs:element minOccurs="0" name="destLID" type="xs:string"/>
<xs:element name="calculateOnly" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="mergeSystemRecordResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:mergePersonResult"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="mergeSystemRecordWithImage">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="sourceLID" type="xs:string"/>
<xs:element minOccurs="0" name="destLID" type="xs:string"/>
<xs:element minOccurs="0" name="destImage" type="tns:personObject"/>
<xs:element name="calculateOnly" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="mergeSystemRecordWithImageResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:mergePersonResult"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="recalculateMatch">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="euid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="recalculateMatchResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:matchColResult"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="resolvePotentialDuplicate">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="potentialDuplicateId" type="xs:string"/>
<xs:element name="permanentResolve" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="resolvePotentialDuplicateResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="search">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="objBean" type="tns:personBean"/>
<xs:element minOccurs="0" name="searchOptions" type="tns:eoSearchOptions"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="eoSearchOptions">
<xs:sequence>
<xs:element name="filterDeactivatedRecords" type="xs:boolean"/>
<xs:element name="filterMergedRecords" type="xs:boolean"/>
<xs:element name="maxElements" type="xs:int"/>
<xs:element minOccurs="0" name="minimumWeight" type="xs:float"/>
<xs:element name="queryTimeout" type="xs:int"/>
<xs:element minOccurs="0" name="searchId" type="xs:string"/>
<xs:element name="simulateMatch" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="searchResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:scoreElement"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="scoreElement">
<xs:sequence>
<xs:element minOccurs="0" name="comparisonId" type="xs:long"/>
<xs:element minOccurs="0" name="decisionResult" type="xs:string"/>
<xs:element minOccurs="0" name="EUID" type="xs:string"/>
<xs:element minOccurs="0" name="falsePositiveExplanation" type="xs:string"/>
<xs:element name="potentialFalsePositive" type="xs:boolean"/>
<xs:element name="weight" type="xs:double"/>
<xs:element minOccurs="0" name="weightExplanation" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="splitSystemRecord">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="localid" type="xs:string"/>
<xs:element minOccurs="0" name="euid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="splitSystemRecordResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="transferSystemRecord">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="toEUID" type="xs:string"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="localid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="transferSystemRecordResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="transferSystemRecordUID">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="destSystemCode" type="xs:string"/>
<xs:element minOccurs="0" name="destLID" type="xs:string"/>
<xs:element minOccurs="0" name="UIDType" type="xs:string"/>
<xs:element minOccurs="0" name="UID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="transferSystemRecordUIDResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="undoAssumedMatch">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="assumedMatchId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="undoAssumedMatchResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="undoSystemObjectUpdate">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="lid" type="xs:string"/>
<xs:element minOccurs="0" name="transNum" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="undoSystemObjectUpdateResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="unmergeEnterpriseRecord">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="euid" type="xs:string"/>
<xs:element name="calculateOnly" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="unmergeEnterpriseRecordResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:mergePersonResult"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="unmergeSystemRecord">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
<xs:element minOccurs="0" name="sourceLID" type="xs:string"/>
<xs:element minOccurs="0" name="destLID" type="xs:string"/>
<xs:element name="calculateOnly" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="unmergeSystemRecordResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:mergePersonResult"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="unresolvePotentialDuplicate">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="potentialDuplicateId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="unresolvePotentialDuplicateResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="updateEnterpriseRecord">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="eoBean" type="tns:enterprisePerson"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateEnterpriseRecordResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="updateSystemRecord">
<xs:sequence>
<xs:element minOccurs="0" name="callerInfo" type="tns:callerInfo"/>
<xs:element minOccurs="0" name="sysObjBean" type="tns:systemPerson"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateSystemRecordResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.usecase.redhat.com/" xmlns:ns1="http://webservice.index.mdm.sun.com/" elementFormDefault="unqualified" targetNamespace="http://service.usecase.redhat.com/" version="1.0">
<xs:import namespace="http://webservice.index.mdm.sun.com/"/>
<xs:element name="execute" type="tns:execute"/>
<xs:element name="executeResponse" type="tns:executeResponse"/>
<xs:complexType name="execute">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns1:executeMatchUpdate"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="executeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:executeMatchUpdate"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="execute">
<wsdl:part element="tns:execute" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="executeResponse">
<wsdl:part element="tns:executeResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="NextgateWS">
<wsdl:operation name="execute">
<wsdl:input message="tns:execute" name="execute"> </wsdl:input>
<wsdl:output message="tns:executeResponse" name="executeResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="NextgateWSServiceSoapBinding" type="tns:NextgateWS">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="execute">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="execute">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="executeResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="NextgateWSService">
<wsdl:port binding="tns:NextgateWSServiceSoapBinding" name="NextgateWSPort">
<soap:address location="http://0.0.0.0:9090/ws/nextgate"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>